<table>

    <tr>
        <th>Id</th>
        <th>Task</th>
        <th>Date</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.task }}</td>
        <td>{{ task.dueDate.format('d/m/y') }}</td>
        <td>{{ task.autor }}</td>
    </tr>

    {% endfor %}
</table>